@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Adjust the layout path if needed
}

<main>
    <section class="row">
        <h2>Login</h2>
        <p>Click the button below to go to the login page.</p>
        <p><a href="@Url.Action("Login", "Home")" class="btn btn-success">Go to Login &raquo;</a></p>
    </section>
</main>

