@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input id="ID" value="Show Graph " type=" button"/>

<br/>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script type="text/javascript">

    $(function () {

        $("#ID").click(function () { 


            $.ajax({

                type: "POST",
                url: "Graphs/GetGraphData",
                data: {},  // Provide the data you want to send to the server
                contentType: "application/json; charset=utf-8",  // Adjust content type based on your server

                dataType: "json",
                sucess: OnSuccessResult,
                error:OnError



            });


    });



    });
    function OnSuccessResult(response) {
        // Handle the success response here
    }

    function OnError(error) {
        // Handle the error here
    }
    
</script>


*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>
